spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3376/neighborSolver
    username: root
    password: 12
  jpa:
    show-sql: true
    database: mysql
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
  jwt:
    secret: cc40a3791cf94e649344be45eb1292a2
  profiles:
    include: oauth, s3




